* {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

.navbar {
    > h1 {
        margin: 0;
    }

    .characters-box {

        > img {
           width: 50px;
           height: 50px;
        }
   }
}

.start-background {
    height: 100vh;
    background-color: #92B6AA;
}

.startBox {
    display: flex;
    flex-direction: column;
    position: fixed;
    background-color: #92B6AA;
    border: 8px ridge #bcffca;
    width: 60%;
    max-width: 700px;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    padding: 1em;

    > h1 {
        font-size: clamp(2.0625rem, 1.7941rem + 1.227vw, 3.3125rem);
    }

    .start-instructions {
        font-size: clamp(1.125rem, 0.9908rem + 0.6135vw, 1.75rem);

        > p {
            padding: 0.5em 0;
        }
    }

    > h1, p {
        margin: 0;
    }

    > button {
        background: #7D9E9D;
        max-width: 320px;
        text-decoration: none;
        border: none;
        line-height: normal;
        padding: 0.6em;
        font-size: clamp(1.4375rem, 1.2765rem + 0.7362vw, 2.1875rem);
        margin: 0 auto;
    }
}

.error-msg {
    color:red;
}

.scoreboard {
    position: fixed;
    background-color:  #cfeab0;
    width: 50vmin;
    top: 50%;
    right: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topUserBox {
    display: flex;
}